<div class="managecustomer-right-bx">

    <h4 class="admin-setting-heding">Add/Edit Late Fees</h4>

    <form name="latefeeForm" novalidate>

        <div class="order-form-left-section add-new-form">

            <div class="form-section-box form-section-box-2">

                <div class="form-box">
                    <label>Minimum Amount<em id="mandatory" style="color:Red">*</em></label>
                    <input id="minAmount" name="minAmount" type="number" ng-model="vm.latefee.minAmount" required>
                    <span ng-if="(latefeeForm.minAmount.$dirty || vm.isSubmitted) && latefeeForm.minAmount.$error.required"><i><b>Minimum Amount</b></i> is required.</span>
                </div>

                <div class="form-box">
                    <label>Maximum Ammount<em id="mandatory" style="color:Red">*</em></label>
                    <input id="maxAmount" name="maxAmount" type="number" ng-model="vm.latefee.maxAmount" required>
                    <span ng-if="(latefeeForm.maxAmount.$dirty || vm.isSubmitted) && latefeeForm.maxAmount.$error.required"><i><b>Maximum Number</b></i> is required.</span>
                </div>

                <div class="form-box">
                    <label>Late Fee<em id="mandatory" style="color:Red">*</em></label>
                    <input id="lateFee" name="lateFee" type="number" ng-model="vm.latefee.lateFee" required>
                    <span ng-if="(latefeeForm.lateFee.$dirty || vm.isSubmitted) && latefeeForm.lateFee.$error.required"><i><b>Late Fee</b></i> is required.</span>
                </div>

                <div class="form-box">
                    <label>Return Charge<em id="mandatory" style="color:Red">*</em></label>
                    <input id="rtnCharge" name="rtnCharge" type="number" ng-model="vm.latefee.rtnCharge" required>
                    <span ng-if="(latefeeForm.rtnCharge.$dirty || vm.isSubmitted) && latefeeForm.rtnCharge.$error.required"><i><b>Return Charge</b></i> is required.</span>
                </div>

                <div class="form-box">
                    <label>Is Active</label>
                    <input ng-model="vm.latefee.isActive" class="billing-addres-checkbox clothcheck" type="checkbox">
                </div>

                <div class="register-btm-btn-box register-btm-btn-box-left-mar">
                    <div class="submit-error" ng-if="vm.error">
                        <span>{{vm.error}}</span>
                    </div>
                    <div class="submit-button">
                        <input ng-disabled="vm.startProcessing" value="Save" class="register-submit-btn" type="button" ng-click="vm.save(latefeeForm)">
                    </div>
                    <div class="cancel-button">
                        <input value="Cancel" class="register-cancel-btn" type="button" ui-sref="secure.setting.latefee">
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>