<div class="inner-heading-bar">Loan Id #{{vm.headerId}}</div>
<div class="main-contant-part" ng-init="vm.getCustomerByLoan()">
    <!-- Customer Details page Section Start Here -->
    <div class="customer-detail-page-contant">
        <div class="right-add-new-button right-add-new-button-mobile"><a ui-sref="secure.loan">Back</a></div>
        <div class="details-table">
            <h2 class="no-record-found-text" ng-if="vm.list.length">No record found</h2>

            <table class="table-part" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #c8c8c8 !important;">
                <tbody>
                    <tr>
                        <td class="table-loan-page"><b>Name</b></td>
                        <td class="table-loan-page2">{{vm.customerDetail.name}}</td>
                    </tr>
                    <tr>
                        <td class="table-loan-page"><b>Mobile Number</b></td>
                        <td class="table-loan-page2">{{vm.customerDetail.mobile}}</td>
                    </tr>
                    <tr>
                        <td class="table-loan-page"><b>Reference Mobile</b></td>
                        <td class="table-loan-page2">{{vm.customerDetail.phone}}</td>
                    </tr>
                    <tr>
                        <td class="table-loan-page"><b>Address</b></td>
                        <td class="table-loan-page2">{{vm.customerDetail.address}}</td>
                    </tr>
                    <tr>
                        <td class="table-loan-page"><b>Agent</b></td>
                        <td class="table-loan-page2" ng-init="vm.getAgentList()">
                            <select placeholder="Select Agent" name="AgentId" ng-model="vm.AgentId" ng-change="vm.selectAgent(vm.AgentId)" ng-disabled="vm.AgentId">
                                <option ng-value="{{os.id}}" ng-repeat="os in vm.agents | filter : {isActive : true}">{{os.name}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table-part" border="0" cellspacing="0" cellpadding="0" style="margin-top: 25px;float: left;">
                <tr class="top-purpal-color-row">
                    <th>Installment No.</th>
                    <th>Installment Amount</th>
                    <th>Payment Due Date</th>
                    <th>Actual Payment Date</th>
                    <th class="paid-status-width">Status</th>
                </tr>
                <tr ng-repeat="obj in vm.loanDetail" ng-class="$index % 2 != 0 ? 'table-tr-alternate-color' : 'some'">
                    <td data-th="Installment No.: " class="top-purpal-color-row2">{{obj.installmentNumber}}</td>
                    <td data-th="Installment Amount: " class="top-purpal-color-row2">{{obj.installmentAmount}}</td>
                    <td data-th="Payment Due Date: " class="top-purpal-color-row2">
                        <!--{{obj.dueDate | date: 'dd/MM/yyyy'}}-->
                        <input type="date" readonly name="dueDate" uib-datepicker-popup="" is-open="open.dueDate" convert-to-date ng-model="obj.dueDate"
                            ng-click="open.dueDate = !open.dueDate">
                    </td>
                    <td data-th="Actual Payment Date: " class="top-purpal-color-row2">{{obj.paymentDate | date: 'dd/MM/yyyy'}}</td>
                    <td data-th="Status: " class="top-purpal-color-row2">
                        <button ng-class="obj.status == 1 ? 'paid-btn-link' : 'unpaid-btn-link'" ng-click="vm.paid($index,obj.id)" ng-disabled="$index != 0 && vm.loanDetail[$index-1].status == 0">Paid</button>
                        <button ng-class="obj.status == 0 ? 'unpaid-btn-link' : 'unpaid-btn-link'" ng-click="vm.unpaid($index,obj.id)" ng-disabled="$index != 0 && vm.loanDetail[$index-1].status == 0">Unpaid</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="paging" ng-if="vm.list.length > 0">
        <span class="showing-text-bx">
            Showing {{ ((vm.options.page - 1) * vm.options.pagesize) + 1 }} to
            <t ng-if="(vm.options.page * vm.options.pagesize) > vm.options.totalItems">{{vm.options.totalItems}}</t>
            <t ng-if="(vm.options.page * vm.options.pagesize) < vm.options.totalItems">{{vm.options.page * vm.options.pagesize}}</t>
            of {{vm.options.totalItems}} Order Records
        </span>
        <div class="paging-text">
            <ul uib-pagination ng-change="vm.pageChange()" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.totalItems"
                items-per-page="vm.options.pagesize" ng-model="vm.options.page" class="pagination-sm" previous-text="&lsaquo;"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
</div>