<div class="inner-heading-bar">Customer's Order Details</div>
<div class="main-contant-part" ng-init="vm.getCustomerByOrderList()">
    <!-- Customer Details page Section Start Here -->
    <div class="customer-detail-page-contant">
        <!--<div class="customer-search-box-main customer-search-box-main-mobile">
            <select class="outside2" placeholder="Search by Status" name="statusid" ng-model="vm.searchBy.OrderStatusId" ng-change="vm.searchByField()" ng-init="vm.getOrderStatusList()">
                <option value="">Search by Status</option>
                <option value="{{os.id}}" ng-repeat="os in vm.orderStatuses | filter : {isActive : true}">{{os.title}}</option>
            </select>
        </div>-->
        <div class="right-add-new-button right-add-new-button-mobile"><a ui-sref="secure.customer">Back</a></div>
        <div class="details-table">
            <h2 class="no-record-found-text" ng-if="vm.list.length">No record found</h2>
            
             <table class="table-part" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #c8c8c8 !important;">
                <tbody>
                   
                    <tr>
                    <td class="table-loan-page">Name</td>
                    <td class="table-loan-page2">Mukesh Rawat</td>
                    </tr>
                    <tr>
                    <td class="table-loan-page">Mobile Number</td>
                    <td class="table-loan-page2">9624442203</td>
                    </tr>
                    <tr>
                    <td class="table-loan-page">Reference Mobile</td>
                    <td class="table-loan-page2">7845124815</td>
                    </tr>
                    <tr>
                    <td class="table-loan-page">Address</td>
                    <td class="table-loan-page2">Prot Systems Balleshwar SG Ahmedabad</td>
                    </tr>
                    <tr>
                    <td class="table-loan-page">Agent</td>
                    <td class="table-loan-page2">
                        <select>
                            <option>--Select Agent--</option>
                            <option>dasdasd</option>
                            <option>dasdasd</option>
                            <option>dasdasd</option>
                        </select>
                    </td>
                    </tr>
                </tbody>
                </table>



            
            

            <table class="table-part" border="0" cellspacing="0" cellpadding="0" style="margin-top: 25px;float: left;">
                <tr class="top-purpal-color-row">
                    <th>Installment No.</th>
                    <th>Installment Amount</th>
                    <th>Payment Due Date</th>
                    <th>Actual Payment Date</th>
                    <th class="paid-status-width">Status</th>
                </tr>
                <tr>
                    <td data-th="Installment No.: " class="top-purpal-color-row2">1</td>
                    <td data-th="Installment Amount: " class="top-purpal-color-row2">1000</td>
                    <td data-th="Payment Due Date: " class="top-purpal-color-row2">06/04/2017</td>
                    <td data-th="Actual Payment Date: " class="top-purpal-color-row2">20/04/2017</td>
                    <td data-th="Status: " class="top-purpal-color-row2"><a href="" class="paid-btn-link">Paid</a><a href="" class="unpaid-btn-link">Unpaid</a></td>
                </tr>
                <tr>
                    <td data-th="Installment No.: " class="top-purpal-color-row2">2</td>
                    <td data-th="Installment Amount: " class="top-purpal-color-row2">1000</td>
                    <td data-th="Payment Due Date: " class="top-purpal-color-row2">06/04/2017</td>
                    <td data-th="Actual Payment Date: " class="top-purpal-color-row2">20/04/2017</td>
                    <td data-th="Status: " class="top-purpal-color-row2">Paid</td>
                </tr>
                <tr>
                    <td data-th="Installment No.: " class="top-purpal-color-row2">3</td>
                    <td data-th="Installment Amount: " class="top-purpal-color-row2">1000</td>
                    <td data-th="Payment Due Date: " class="top-purpal-color-row2">06/04/2017</td>
                    <td data-th="Actual Payment Date: " class="top-purpal-color-row2">20/04/2017</td>
                    <td data-th="Status: " class="top-purpal-color-row2">Paid</td>
                </tr>
                <tr>
                    <td data-th="Installment No.: " class="top-purpal-color-row2">4</td>
                    <td data-th="Installment Amount: " class="top-purpal-color-row2">1000</td>
                    <td data-th="Payment Due Date: " class="top-purpal-color-row2">06/04/2017</td>
                    <td data-th="Actual Payment Date: " class="top-purpal-color-row2">20/04/2017</td>
                    <td data-th="Status: " class="top-purpal-color-row2">Paid</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="paging" ng-if="vm.list.length > 0">
        <span class="showing-text-bx">
            Showing {{ ((vm.options.page - 1) * vm.options.pagesize) + 1 }} to
            <t ng-if="(vm.options.page * vm.options.pagesize) > vm.options.totalItems">{{vm.options.totalItems}}</t>
            <t ng-if="(vm.options.page * vm.options.pagesize) < vm.options.totalItems">{{vm.options.page * vm.options.pagesize}}</t>
            of {{vm.options.totalItems}} Order Records
        </span>
        <div class="paging-text">
            <ul uib-pagination ng-change="vm.pageChange()" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.totalItems" items-per-page="vm.options.pagesize" ng-model="vm.options.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
</div>