<div class="managecustomer-right-bx">
    <h4 class="admin-setting-heding">Change Password</h4>
    <form name="userForm" novalidate>
        <!-- Left Form Section Start Here -->
        <div class="order-form-left-section add-new-form">
            <div class="form-section-box form-section-box-2">
                <fieldset ng-disabled="vm.currentUser.userrole != 'admin'" style="border:none">

                    <div class="form-box">
                        <label><em style="color:Red">*</em>Old Password</label>
                        <input name="oldPassword" ng-minlength="6" ng-maxlength="25" required type="oldPassword" ng-model="vm.user1.oldPassword">
                        <span ng-if="(userForm.oldPassword.$dirty || vm.isSubmitted) && userForm.oldPassword.$error.required"><i><b>Old Password</b></i> is required.</span>
                        <span ng-if="(userForm.oldPassword.$dirty || vm.isSubmitted) && userForm.oldPassword.$error.minlength"><i><b>Old Password</b></i> should be at least 6 characters long.</span>
                        <span ng-if="(userForm.oldPassword.$dirty || vm.isSubmitted) && userForm.oldPassword.$error.maxlength"><i><b>Old Password</b></i> should not be more than 25 characters long.</span>
                    </div>

                    <div class="form-box">
                        <label><em style="color:Red">*</em>Password</label>
                        <input name="password" ng-minlength="6" ng-maxlength="25" required type="password" ng-model="vm.user1.password">
                        <span ng-if="(userForm.password.$dirty || vm.isSubmitted) && userForm.password.$error.required"><i><b>Password</b></i> is required.</span>
                        <span ng-if="(userForm.password.$dirty || vm.isSubmitted) && userForm.password.$error.minlength"><i><b>Password</b></i> should be at least 6 characters long.</span>
                        <span ng-if="(userForm.password.$dirty || vm.isSubmitted) && userForm.password.$error.maxlength"><i><b>Password</b></i> should not be more than 25 characters long.</span>
                    </div>

                    <div class="form-box">
                        <label><em id="mandatory" style="color:Red">*</em>Confirm Password</label>
                        <input name="confirm" required type="password" ng-model="vm.confirmPassword">
                        <span ng-if="(userForm.confirm.$dirty || vm.isSubmitted) && userForm.confirm.$error.required"><i><b>Confirm Password</b></i> is required.</span>
                        <span ng-if="(userForm.confirm.$dirty || vm.isSubmitted) && !userForm.confirm.$error.required &&  vm.user1.password != vm.confirmPassword"><i><b>Password</b></i> & <i><b>Confirm Password</b></i> does not match.</span>
                    </div>

                </fieldset>

                <div class="register-btm-btn-box register-btm-btn-box-left-mar">
                    <div class="submit-error" ng-if="vm.error">
                        <div>{{vm.error}}</div>
                    </div>
                    <div class="submit-button">
                        <input ng-disabled="vm.startProcessing" ng-if="vm.currentUser.userrole === 'admin'" value="Save" class="register-submit-btn"
                            type="button" ng-click="vm.resetPassword(userForm)">
                    </div>
                    <div class="cancel-button">
                        <input value="Cancel" class="register-cancel-btn" ui-sref="secure.setting.user" type="button">
                    </div>
                </div>

            </div>





        </div>
    </form>
    <!-- Customer Details page Section End Here -->



</div>