<div class="inner-heading-bar">Add/Edit Customer Details</div>

<div class="main-contant-part" ng-init="vm.activate()">
    <!-- Customer Details page Section Start Here -->
    <form name="customerForm" novalidate>
        <div class="order-form-left-section add-new-form">

            <div class="form-section-box">
                <div class="form-heading">Basic Details</div>

                <div class="form-box">
                    <label>Customer Name<em id="mandatory" style="color:Red">*</em></label>
                    <input id="" my-directive="" ng-pattern="/^[a-zA-Z0-9 ]+$/" ng-minlength="2" ng-maxlength="50" ng-model="vm.customer.name"
                        name="name" required placeholder="Customer Name" type="text">
                    <span ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.pattern">No special characters are allowed.</span>
                    <span ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.required"><i><b>Customer Name</b></i> is required.</span>
                    <span ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.minlength"><i><b>Customer Name</b></i> should be at least 2 characters long.</span>
                    <span ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.maxlength"><i><b>Customer Name</b></i> should not be more than 50 characters long.</span>
                </div>

                <div class="form-box">
                    <label>Gender<em style="color:Red">*</em></label>
                    <select required class="paragraph " name="gender" ng-model="vm.customer.gender">
                        <option value="">Please Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span ng-if="(customerForm.gender.$dirty || vm.isSubmitted) && customerForm.gender.$error.required"><i><b>Gender</b></i> is required.</span>
                </div>

                <div class="form-box">
                    <label>Email Address</label>
                    <input ng-model="vm.customer.email" name="email" ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/"
                        placeholder="Email address" ng-minlength="5" ng-maxlength="250" type="email">
                    <span ng-if="(customerForm.email.$dirty || vm.isSubmitted) && customerForm.email.$error.pattern">Enter a valid <i><b>Email</b></i>.</span>
                    <span ng-if="(customerForm.email.$dirty || vm.isSubmitted) && !customerForm.email.$error.pattern && customerForm.email.$error.minlength"><i><b>Email</b></i> should be at least 5 characters long.</span>
                    <span ng-if="(customerForm.email.$dirty || vm.isSubmitted) && customerForm.email.$error.maxlength"><i><b>Email</b></i> should not be more than 250 characters long.</span>
                </div>

                <div class="form-box">
                    <label>Mobile Number<em id="mandatory" style="color:Red">*</em></label>
                    <input ng-model="vm.customer.mobile" ng-pattern="/^[0-9]{1,10}$/" name="mobile" ng-minlength="10" ng-maxlength="10" required
                        placeholder="Mobile Number" type="text">
                    <span ng-if="(customerForm.mobile.$dirty || vm.isSubmitted) && customerForm.mobile.$error.required"><i><b>Mobile Number</b></i> is required.</span>
                    <span ng-if="(customerForm.mobile.$dirty || vm.isSubmitted) && (customerForm.mobile.$error.pattern || customerForm.mobile.$error.minlength || customerForm.mobile.$error.maxlength)">Enter a valid 10-digit <i><b>Mobile Number</b></i>.</span>
                </div>

                <div class="form-box">
                    <label>Reference Number</label>
                    <input ng-model="vm.customer.phone" ng-pattern="/^[0-9]{1,11}$/" name="phonenumber" ng-minlength="11" ng-maxlength="11" placeholder="Phone Number"
                        type="text">
                    <span ng-if="(customerForm.phonenumber.$dirty || vm.isSubmitted) && (customerForm.phonenumber.$error.pattern || customerForm.phonenumber.$error.minlength || customerForm.phonenumber.$error.maxlength)">Enter a valid 11-digit <i><b>Phone Number</b></i>.</span>
                </div>

                <div class="form-box">
                    <label>Address<em style="color:Red">*</em></label>
                    <textarea required ng-model="vm.customer.address" rows="4" cols="50" placeholder="Address" name="address" ng-minlength="2"
                        ng-maxlength="250"></textarea>
                    <span ng-if="(customerForm.address.$dirty || vm.isSubmitted) && customerForm.address.$error.required"><i><b>Address</b></i> is required.</span>
                    <span ng-if="(customerForm.address.$dirty || vm.isSubmitted) && customerForm.address.$error.minlength"><i><b>Address</b></i> should be at least 2 characters long.</span>
                    <span ng-if="(customerForm.address.$dirty || vm.isSubmitted) && customerForm.address.$error.maxlength"><i><b>Address</b></i> should not be more than 250 characters long.</span>
                </div>
            </div>


            <div class="form-section-box">
                <div class="form-heading">Document Details</div>

                <div>
                    <div class="form-subHeading" style="padding-top: 0px;">Proof Of Identity<em id="mandatory" style="color:Red">*</em></div>

                    <div class="form-box">
                        <input ng-model="vm.checkbox1" class="billing-addres-checkbox clothcheck" type="checkbox">
                        <label class="text-head-align document-browse-btn">Adhar Card</label>

                        <button ng-if="vm.checkbox1" name="checkbox1" type="button" class="choose-a-image-btn" ngf-select="vm.displayPhoto1($file)" ng-model="vm.file[0]"
                            ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="10" ngf-resize>Browse</button>

                        <!--<img class="addsubdesign-browse-img" ng-if="vm.customer.image1" ng-src="{{vm.customer.image1}}"
                                height="200" width="200">-->
                        <a class="filename-lable" ng-if="vm.checkbox1 && vm.customer.image1" ng-click="vm.download(vm.customer.image1)">{{vm.customer.image1}}</a>

                    </div>

                    <div class="form-box">
                        <input ng-model="vm.checkbox2" class="billing-addres-checkbox clothcheck" type="checkbox">
                        <label class="text-head-align document-browse-btn">Driving License</label>

                        <button ng-if="vm.checkbox2" name="checkbox2" type="button" class="choose-a-image-btn" ngf-select="vm.displayPhoto2($file)" ng-model="vm.file[1]"
                            ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="10" ngf-resize>Browse</button>

                        <!--<img class="addsubdesign-browse-img" ng-if="vm.checkbox2 && vm.localPicture2 || vm.style.image" ng-src="{{vm.localPicture2 || vm.style.image}}"
                                height="200" width="200">-->
                        <a class="filename-lable" ng-if="vm.checkbox2 && vm.customer.image2" ng-click="vm.download(vm.customer.image2)">{{vm.customer.image2}}</a>
                    </div>

                    <div class="form-box">
                        <input ng-model="vm.checkbox3" class="billing-addres-checkbox clothcheck" type="checkbox">
                        <label class="text-head-align document-browse-btn">Voter Id Card</label>

                        <button ng-if="vm.checkbox3" name="checkbox3" type="button" class="choose-a-image-btn" ngf-select="vm.displayPhoto3($file)" ng-model="vm.file[2]"
                            ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="10" ngf-resize>Browse</button>

                        <!--<img class="addsubdesign-browse-img" ng-if="vm.checkbox3 && vm.localPicture3 || vm.style.image" ng-src="{{vm.localPicture3 || vm.style.image}}"
                                height="200" width="200">-->
                        <a class="filename-lable" ng-if="vm.checkbox3 && vm.customer.image3" ng-click="vm.download(vm.customer.image3)">{{vm.customer.image3}}</a>
                    </div>

                    <div class="form-box">
                        <input ng-model="vm.checkbox4" class="billing-addres-checkbox clothcheck" type="checkbox">
                        <label class="text-head-align document-browse-btn">Passport</label>

                        <button ng-if="vm.checkbox4" name="checkbox4" type="button" class="choose-a-image-btn" ngf-select="vm.displayPhoto4($file)" ng-model="vm.file[3]"
                            ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="10" ngf-resize>Browse</button>

                        <!--<img class="addsubdesign-browse-img" ng-if="vm.checkbox4 && vm.localPicture4 || vm.style.image" ng-src="{{vm.localPicture4 || vm.style.image}}"
                                height="200" width="200">-->
                        <a class="filename-lable" ng-if="vm.checkbox4 && vm.customer.image4" ng-click="vm.download(vm.customer.image4)">{{vm.customer.image4}}</a>
                    </div>
                    <!--<span class="documents-validation-err" ng-if="customerForm.checkbox1.$dirty || vm.isSubmitted">Any one <i><b>Proof Of Identity</b></i> is required.</span>-->
                </div>

                <div>
                    <div class="form-subHeading">Proof Of Residence<em id="mandatory" style="color:Red">*</em></div>

                    <div class="form-box-lable-right-input">
                        <input ng-model="vm.checkbox5" class="billing-addres-checkbox clothcheck" name="checkbox5" type="checkbox">
                        <label class="text-head-align document-browse-btn">Recent Telephone Bill</label>

                        <button ng-if="vm.checkbox5" type="button" class="choose-a-image-btn" ngf-select="vm.displayPhoto5($file)" ng-model="vm.file[4]"
                            ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="10" ngf-resize>Browse</button>

                        <!--<img class="addsubdesign-browse-img" ng-if="vm.checkbox5 && vm.localPicture5 || vm.style.image" ng-src="{{vm.localPicture5 || vm.style.image}}"
                                height="200" width="200">-->
                        <a class="filename-lable" ng-if="vm.checkbox5 && vm.customer.image5" ng-click="vm.download(vm.customer.image4)">{{vm.customer.image5}}</a>
                    </div>

                    <div class="form-box">
                        <input ng-model="vm.checkbox6" class="billing-addres-checkbox clothcheck" name="checkbox6" type="checkbox">
                        <label class="text-head-align document-browse-btn">Recent Electricity Bill</label>

                        <button ng-if="vm.checkbox6" type="button" class="choose-a-image-btn" ngf-select="vm.displayPhoto6($file)" ng-model="vm.file[5]"
                            ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="10" ngf-resize>Browse</button>

                        <!--<img class="addsubdesign-browse-img" ng-if="vm.checkbox6 && vm.localPicture6 || vm.style.image" ng-src="{{vm.localPicture6 || vm.style.image}}"
                                height="200" width="200">-->
                        <a class="filename-lable" ng-if="vm.checkbox6 && vm.customer.image6" ng-click="vm.download(vm.customer.image5)">{{vm.customer.image6}}</a>
                    </div>
                    <!--<span class="documents-validation-err" ng-if="(!vm.customer.image6 && !vm.customer.image6) && (customerForm.checkbox5.$dirty || customerForm.checkbox6.$dirty || vm.isSubmitted)">Any one <i><b>Proof Of Residence</b></i> is required.</span>-->
                </div>




            </div>

            <div class="add-new-btm-btn edit-customer-detail-btn-btn-left-mar-none">
                <div class="submit-error" ng-if="vm.error">
                    <div>{{vm.error}}</div>
                </div>
                <div class="submit-button">
                    <input ng-disabled="vm.startProcessing" value="Save" ng-click="vm.save(customerForm)" type="button">
                </div>
                <div class="cancel-button">
                    <input value="Cancel" ui-sref="secure.customer" type="button">
                </div>
            </div>


            <!-- Left Form Section End Here -->

        </div>
    </form>
    <!-- Customer Details page Section End Here -->
</div>