<div class="main-header">

    <div class="logo" ui-sref="secure.dashboard" style="cursor:pointer;">
        <img src="images/newlogo.png" alt="ProT Boutique">
    </div>

    <span class="menu-toggle">
        <i></i>
        <i></i>
        <i></i>
    </span>

    <div class="navbar">
        <ul>
            <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'home'}" ui-sref="secure.home">Home</a></li>
            <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'loan'}" ui-sref="secure.loan">Loan</a></li>
            <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'customer'}" ui-sref="secure.customer">Customers</a></li>
            <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highLightSetting === 'setting'}" ui-sref="secure.setting.agent">Settings</a></li>
            <li ng-if="vm.user" title="logged in as {{vm.user.fullname}}"><a ng-click="vm.logout()" href="">Logout</a></li>
            <li ng-if="!vm.user"><a ng-class="{'active' : $root.toState.highlight === 'home'}" ui-sref="home">Home</a></li>
            <li ng-if="!vm.user"><a ng-class="{'active' : $root.toState.highlight === 'login'}" ui-sref="login">Login</a></li>
        </ul>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function (e) {
        $(".menu-toggle").click(function () {
            $(".navbar").slideToggle()

        })
        $(".navbar ul li").click(function () {
            $(this).find("ul").slideToggle()
            $(this).toggleClass("active");
        })

    });
</script>